.label{
    -fx-text-fill: #263238;
    -fx-font-size: 16;
}

.pane{
    -fx-background-color: #F5F5F5;
}

.bar{
    -fx-background-color: #607d8b;
}

.labelBar{
    -fx-text-fill:#F5F5F5;
    -fx-font-size: 18;
}

.asterisco{
    -fx-text-fill: #607d8b;
}

.asteriscoPie{
    -fx-text-fill: #607d8b;
    -fx-font-size: 10;
}